.Contener {
    justify-content: center;
    /* border: solid black 1px; */
    margin: 5em;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(13, 1fr);
    justify-content: center;
}

/* .Contener section{
    border: solid black 2px;
    border-radius: 1em;
} */

.Contener-Account { 
    z-index: 2;
    grid-area: 3 / 1 / span 3 / span 5; 
    height: 200px;
    border: solid green 10px;
    background-color: rgb(0, 110, 0);
}
.Contener-ExpenseAnalysis { 
    grid-area: 7 / 1 / span 7 / span 5; 
}
.Contener-Material { 
    grid-area: 1 / 7 / span 7 / span 5; 
}
.Contener-AvailableDevices { 
    grid-area: 9 / 7 / span 5 / span 5; 
}
.Contener-ShoppingList { 
    grid-area: 1 / 13 / span 5 / span 5; 
}
.Contener-SavingsTips { 
    grid-area: 7 / 13 / span 7 / span 5; 
}
.Contener-Frugality {
    grid-area: 1 / 19 / span 13 / span 5; 
}

.dot {
    grid-area: 1 / 2 / span 2 / span 3;
    /* transform: translate(-20%, -50%); */
    background-image: url(download.jpg);
    border: solid green 5px;
    background-size: cover;
    border-radius: 150px 150px 0 0;
    background-color: green;
}