:root{
    --Color1: rgba(0, 0, 12, 1);
    --Color2: rgba(0, 6, 38, 1);
    --Color3: rgb(2, 37, 140, 1);
    --Color4: rgba(18, 67, 165, 1);
    --Color5: rgba(15, 69, 140, 1);
}

body{
    margin: 0;
}

.Top_Menu{
    height: 5vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: var(--Color3);
}

.Contener {
    position: relative;

    height: 75vh;

    top: 50px;
    justify-content: center;
    margin: 5em;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(13, 1fr);
    justify-content: center;
}

.Section--Zoom{
    transition-duration: 0.4s;
    transform: scale(1);
}

.Contener-Add{
    position: absolute;

    height: 40px;
    width: 40px;

    float: right;

    right: 25px;
    top: 15px;

    transition-duration: 0.4s;
}

.Contener-Add:hover{
    transform: rotate(30deg);
}

.Section--Zoom:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 20px;
}

.Contener section:hover #Account_Logo{
    transition-duration: 0.4s;
    transform: scale(1.1);
}
.Contener section:hover .Account_Logo-Circle{
    transform: scale(1.1);
}

.Contener-Account { 
    grid-area: 2 / 1 / span 4 / span 5; 

    height: 200px;
    width: 400px;

    border-radius: 3em;
    background-color: var(--Color5);
    border: solid black 1px;

    box-shadow: 5px 5px 15px;
}

#Account_Logo{
    position: absolute;

    left: 24%;
    top: -95px;

    transition-duration: 0.4s ;
}

.Account_Logo-Circle{
    position: absolute;
    left: 31.5%;
    top: -65px;

    height: 140px;
    width: 140px;

    /* border: solid black 1px; */
    border-radius: 50%;
    background-image: url('Szadolowski.jpg');
    background-size: cover
}

.Account-Text{
    margin: 25% 10% 0 10%;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: white;
}

/*  */

.Contener-ExpenseAnalysis { 
    grid-area: 7 / 1 / span 7 / span 5; 

    border-radius: 3em;
    background-color: var(--Color4);
    border: solid black 1px;

    box-shadow: 5px 5px 15px;

    padding-top: 15%;

    display: flex;
    align-items: center;
    flex-direction: column;

    overflow: auto;
}

.ExpenseAnalysis_Visualization{
    width: 90%;

    background-color: var(--Color3);

    border-radius: 1.5em;

    margin-bottom: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ExpenseAnalysis_Visualization h3{
    margin: 0;
    color: white;
}

.ExpenseAnalysis_Visualization_Text{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ExpenseAnalysis_Visualization_Text .ExpenseAnalysis_Visualization_Text-Left,.ExpenseAnalysis_Visualization_Text-Right{
    display: flex;
    flex-direction: row;
}

.Visualization_Text_Income{
    color: #00B300;
    font-weight: 600;
    font-size: 16px;
    margin-right: 4%;
}

.Visualization_Text_Income-Value{
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.Visualization_Text_Expenses{
    color: #FF0000;
    font-weight: 600;
    font-size: 16px;
    margin-right: 4%;
}

.Visualization_Text_Expenses-Value{
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.ExpenseAnalysis_Visualization_Bar{
    width: 90%;
    height: 15px;

    margin-bottom: 2%;

    border: black solid 1px;
    border-radius: 3em;

    background-image: linear-gradient(to right,#00B300 69%, #FF0000 71%);
}

/*  */
.Contener-Material { 
    grid-area: 1 / 7 / span 7 / span 5; 

    border-radius: 3em;
    background-color: var(--Color3);

    box-shadow: 5px 5px 15px;
}
.Contener-AvailableDevices { 
    grid-area: 9 / 7 / span 5 / span 5; 

    border-radius: 3em;
    background-color: var(--Color5);
    border: solid black 1px;

    box-shadow: 5px 5px 15px;
}
.Contener-ShoppingList { 
    grid-area: 1 / 13 / span 5 / span 5; 

    border-radius: 3em;
    background-color: var(--Color4);
    border: solid black 1px;

    box-shadow: 5px 5px 15px;
}
.Contener-SavingsTips { 
    grid-area: 7 / 13 / span 7 / span 5; 

    border-radius: 3em;
    background-color: var(--Color3);
    border: solid black 1px;

    box-shadow: 5px 5px 15px;
}
.Contener-Frugality {
    width: 380px;
    grid-area: 1 / 19 / span 13 / span 5; 

    border-radius: 3em;
    background-color: var(--Color5);
    border: solid black 1px;

    box-shadow: 5px 5px 15px;

    padding: 10px;

    padding-top: 70px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow-y: auto;
}

.Frugality_Bar{
    width: 180px;
    height: 210px;

    margin-top: 20px;

    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Frugality_Bar svg{
    width: 100%;
    height: 100%;
}

.bg{
    fill: none;
    stroke-width: 15px;
    stroke: #1A2C34;
}

.meter-1{
    fill: none;
    stroke-width: 15px;
    stroke: aqua;
    stroke-linecap: round;

    stroke-dasharray: 360;
    stroke-dashoffset: 60;
    animation: progress-1 1s ease-out;

    transform: rotate(90deg);
    transform-origin: 50% 42%;
}

@keyframes progress-1 {
    from {
        stroke-dashoffset: 360;
    }
    to {
        stroke-dashoffset: 60;
    }
}

.Frugality_Bar_Text{
    position: relative;
    color: azure;
    font-size: x-large;
    margin: 0;
    bottom: 20px;
}

.Frugality_Bar_Percent{
    position: absolute;
    color: beige;
    font-weight: 600;
    font-size: xx-large ;
    top: 25px;
}

/*  */

.Bottom_Footer{
    position: absolute;
    bottom: 0;
    height: 5vh;
    background-color: var(--Color3);
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
